:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 35px;
}

body,
html {
    font-weight: 150px;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}


.container {
    max-width: 1300px;
    margin: 0 auto;

}

header {

    background-color: var(--lighting-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 1rem;
    /*given for the spcing between the list*/
}

nav li {
    font-size: 1rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;

}

nav li:hover {
    border-bottom: var(--secondary-color) solid;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}


/*logo section*/

.logo {
    font-size: 1.5rem;
    font-weight: 700px;
}



/*Hero Section*/

#hero {
    background-color: var(--darker-color);
    padding: 3rem;
}

#hero .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.hero-image img {
    width: 350px;
    height: 500px;
    border-radius: 1400px;
    background-color: var(--dark-color);
}

.hero-content {
    display: grid;
    place-items: center;
}

#hero h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.hi_text {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.name_text {
    font-size: 2rem;
}


#hero h2 {
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}