:root {
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color: #003251;
    --secondary-color: #fff700;
}

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 35px;
}

body,
html {
    font-weight: 150px;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
}


.container {
    max-width: 1300px;
    margin: 0 auto;

}

header {

    background-color: var(--lighting-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 1rem;
    /*given for the spcing between the list*/
}

nav li {
    font-size: 1rem;
    border-bottom: 0.4rem transparent solid;
    transition: 0.3s ease-in-out;

}

nav li:hover {
    border-bottom: var(--secondary-color) solid;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}


/*logo section*/

.logo {
    font-size: 1.5rem;
    font-weight: 700px;
}